= form_with(model: bbox_content, local: true) do |form|
  - if bbox_content.errors.any?
    #error_explanation
      %h2
        = pluralize(bbox_content.errors.count, "error")
        prohibited this bbox_content from being saved:
      %ul
        - bbox_content.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :text
    = form.text_field :text
  .field
    = form.hidden_field :bbox_id, value: bbox_id
  .actions
    = form.submit
