<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @bbox_content.text %>
</p>

<p>
  <strong>Insertion date:</strong>
  <%= @bbox_content.insertion_date %>
</p>

<p>
  <strong>Completion date:</strong>
  <%= @bbox_content.completion_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @bbox_content.due_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @bbox_content.completed %>
</p>

<p>
  <strong>Pinned:</strong>
  <%= @bbox_content.pinned %>
</p>

<p>
  <strong>Pass counter:</strong>
  <%= @bbox_content.pass_counter %>
</p>

<p>
  <strong>Bbox:</strong>
  <%= @bbox_content.bbox_id %>
</p>

<%= link_to 'Edit', edit_bbox_content_path(@bbox_content) %> |
<%= link_to 'Back', bbox_contents_path %>
